* {
    font-family: 'PT Sans', sans-serif;
}

/* header */
.button-primary{
        height: 40px;
        background: #FD6E0A;
        border-radius: 5px;
        color: white;
        font-weight: 700;
        font-size: 15px;
        border: 0;
        padding: 10px 20px;
}

.header{
    background: #FFF8F3;
    background-image: url('/new-year-new-me-main/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
   
    
    
}

.headerwords{
    text-align: right;
    font-size: 25px;
    padding:  200px 100px 100px 300px;
    margin-left: 400px;
    margin-right: 40px;

}

.header h1{
    font-weight: 700px;

    
    
}

.headerwords p{
    font-size: 15px;
    color: #757372;
}


/* failure list */
.failures{
    display: flex;
    align-items: center;
    margin: 150px 250px 200px 100px;
    gap: 70px;
   
}

.flisthead{
    font-size: 35px;
    
}

.failurelist{
    
}

.listdescription{
    color: #494848;
    font-size: smaller;
}

.flist{
    color: #494848;
    font-size: smaller;
    padding-left: none;
   
}

ul {
    list-style: none;
  }
ul li:before {
    content: '✓';
    color:rgb(21, 210, 96);
  }


  /* my plans */

  .myplans{
    text-align: center;
    padding-bottom: 50px;
    font-size: 35px;
    font-weight: bolder;
    
  }

  .plans{
    display: flex;
    text-align: center;
    
    
  }

  .plist{
   margin-left: 80px;
   margin-right: 50px;
   /* align-items: center; */
   
   
  }

  .pname{
    font-size: 25px;
    font-weight:bold;
    
  }

.pdetail{
    font-size: 20px;
    color:#757372;
}

/* call now */
.callnow{
    margin: 150px 150px;
    background-image: url(/new-year-new-me-main/images/gradient2.png), url(/new-year-new-me-main/images/watch.png); 
    /* background-position: relative; */
    mix-blend-mode: overlay;
    border-radius: 10px;
    padding: 100px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-repeat: no-repeat;
}

/* .watch{
    /* position: relative; */
   
   

   */
  
/* .grad{
    background-position: absolute;
    top: 0;
    left: 0;
    
  } */



.details{
    position: relative;
  text-align: center;
  color: white;
  }

  .callnowbutton{
        height: 40px;
        background: #ffffff;
        border-radius: 5px;
        color:#FD6E0A;
        font-weight: 700;
        font-size: 15px;
        border: 0;
        padding: 10px 20px;
  }

  .imagetext{
    padding-right: 400px;
  }


  /* footer */
  .footer{
    display: flex;
    /* margin-left: 100px;
    margin-right: 100px; */
    background-color: rgb(36, 34, 34);
    background-size: cover;
    color: white;
    background-position: absolute;
    padding: 100px;
    padding-left: 200px;
    gap: 200px;
  }

  .futuretext{
    width: 400px;
  }


.socialmedia{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.email{
    margin-bottom: 20px;
    padding: 18px;
    border-radius: 10px;
    border-color: white;
    background-color: rgb(36, 34, 34);
}